{% extends 'main.html' %}

{% block content %}


    <h1>Shiva Baghel</h1>
    <h2>Dayalbagh Educational Institute</h2>
    <h3>Bachelor of Vocaitonal (Robotics & Artificial Intelligance</h3>
    <h1>Yash Satwani</h1>
    <h2>Dayalbagh Educational Institute</h2>
    <h3>Bachelor of Vocaitonal (Robotics & Artificial Intelligance</h3>
    <h1>Anurag</h1>
    <h2>Dayalbagh Educational Institute</h2>
    <h3>Bachelor of Vocaitonal (Robotics & Artificial Intelligance</h3>
    <h1>Adarsh Arora</h1>
    <h2>Dayalbagh Educational Institute</h2>
    <h3>Bachelor of Technology</h3>
    <h1>Ayushi Tripathi</h1>
    <h2>Dayalbagh Educational Institute</h2>
    <h3>Bachelor of Vocaitonal (Robotics & Artificial Intelligance</h3>
    <h1>Sonal Priya</h1>
    <h2>Dayalbagh Educational Institute</h2>
    <h3>Bachelor of Vocaitonal (Robotics & Artificial Intelligance</h3>

{% endblock %}